# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/

# Build & Production Outputs
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Temporary & Scratch
scratch/
tmp/

# Generated public projections
public/generated/
